################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node-flat/bin/Debug
/node-flat/obj/Debug
